body {
  background-color: var(--background-color);
  font-family: "Urbanist", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color);
  overflow-x: hidden;
}

.heading-2 {
  font-size: 3rem;
  color: var(--cl-black);
}
