.section-hero {
  background-image: url(../../../public/hero-banner-1.jpg);
  background-size: cover;
  background-position: 45% 30%;
  padding: 15rem 5%;
}

.section-collection,
.section-products,
.section-promo,
.section-about,
.section-offer,
.section-discover {
  padding: 8rem 0;
}
