.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--cl-black);
  border-radius: 50%;
  padding: 1rem;
  line-height: 0;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--cl-yellow-light);
    border: 2px solid var(--cl-black);
  }

  & svg {
    color: var(--cl-white);
  }
}
