.footer {
  background-color: var(--cl-grey-light);
  padding-block: 10rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &__list {
    font-size: 1.25rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 0.4fr) 1fr;
    gap: 3rem;

    @include breakpoint(tab-port) {
      font-size: 1.5rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }

  &__item {
    &-title {
      font-size: 1.7rem;
      color: var(--cl-black);
      padding-block-end: 1rem;
    }
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__email {
    @include breakpoint(tab-port) {
      grid-column: 1 / -1;
    }
  }

  &__newwletter-title {
    font-size: 2.5rem;
    color: var(--cl-black);
    padding-block-end: 1rem;
  }

  &__newsletter-text {
    padding-block-end: 4rem;
    max-width: 50ch;

    @include breakpoint(tab-port) {
      max-width: 100%;
    }
  }

  &__cta {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__logo {
    font-size: 1.8rem;
    line-height: 0;

    @include breakpoint(tab-port) {
      display: none;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    @include breakpoint(mobile) {
      align-self: flex-start;
    }
  }

  &__pay {
    max-width: 100%;

    @include breakpoint(mobile) {
      align-self: flex-start;
    }
  }
}
